<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" parallel="tests">

    <test thread-count="5" name="Test1">
        <parameter name ="browserType" value="chrome"/>
        <classes>
            <class name="am.karas.TestScripts.VerifyDeliveryCenterTest"/>
        </classes>
    </test>

        <test thread-count="5" name="Test2">
            <parameter name ="browserType" value="firefox"/>
            <classes>
                <class name="am.karas.TestScripts.VerifySearchFoodTest"/>
            </classes>
        </test>

    <test thread-count="5" name="Test3">
       <parameter name ="browserType" value="firefox"/>
       <classes>
           <class name="am.karas.TestScripts.VerifyAddItemToCartTest"/>
       </classes>
    </test>

    <test thread-count="5" name="Test4">
        <parameter name ="browserType" value="firefox"/>
        <classes>
            <class name="am.karas.TestScripts.VerifySingleItemInCartTest"/>
        </classes>
    </test>

      <test thread-count="5" name="Test5">
         <parameter name ="browserType" value="firefox"/>
         <classes>
             <class name="am.karas.TestScripts.VerifyOffersTest"/>
         </classes>
      </test>

     <test thread-count="5" name="Test6">
         <parameter name ="browserType" value="chrome"/>
         <classes>
             <class name="am.karas.TestScripts.VerifyHotDishesTest"/>
         </classes>
     </test>

      <test thread-count="5" name="Test7">
        <parameter name ="browserType" value="chrome"/>
        <classes>
            <class name="am.karas.TestScripts.VerifyAddMoreItemsToCartTest"/>
        </classes>
    </test>

   <test thread-count="5" name="Test8">
        <parameter name ="browserType" value="chrome"/>
        <classes>
            <class name="am.karas.TestScripts.VerifyMultipleItemsInCartTest"/>
        </classes>
    </test>

   <test thread-count="5" name="Test9">
        <parameter name ="browserType" value="chrome"/>
        <classes>
            <class name="am.karas.TestScripts.VerifyCountOrdersInCartTest"/>
        </classes>
    </test>

    <test thread-count="5" name="Test10">
        <parameter name ="browserType" value="chrome"/>
        <classes>
            <class name="am.karas.TestScripts.VerifyRemoveItemFromCartTest"/>
        </classes>
    </test>

   <test thread-count="5" name="Test11">
    <parameter name ="browserType" value="chrome"/>
    <classes>
     <class name="am.karas.TestScripts.VerifySortItemsTest"/>
    </classes>
   </test>

    <test thread-count="5" name="Test12">
        <parameter name ="browserType" value="chrome"/>
        <classes>
            <class name="am.karas.TestScripts.VerifyRegistrationTest"/>
        </classes>
    </test>

</suite>